body {
    margin: 0;
    height: 100vh;
    max-width: 1920px;
    background-image: url(/assets/recipy\ background.avif); /* Corrected the URL */
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    
}
.home-text{
    position: fixed;
    left: 100px;
    bottom: 100px;
  }
  
  .heading p{
    font-weight: 700;
    font-size: 36px;
    margin: 0;
   }
  
  .heading span{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color:gray;
   }
  
   .sub-heading p{
    margin-top: 30px;
    font-weight: 500;
   }
   .home-text button{
    width: 150px;
    height: 50px;
    background-color: gray;
    border-radius: 20px;
    color:white;
   }


   
  
   @media (max-width: 520px) {
    .home-text{
      top: 120px;
      left: 40px;
      padding-top: 300px;
    }
  
      
    .heading p{
      font-weight: 700;
      font-size: 32px;
      margin: 0;
    }
  
    .heading span{
      margin: 0;
      font-size: 32px;
      font-weight: 700;
      color:grey;
    }
  
    .sub-heading p{
      margin-top: 26px;
      font-weight: 500;
    }
}
